<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href={% block style %}{% endblock %}>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.4.4/d3.js"></script>

</head>

<body>
    <div class='container'>
        <div class="row">
            <div class="col welcome">Welcome To My Dealership Dashboard</div>

            <figure class="figure">
                <img src="/static/images/hummer.jpg" class="figure-img img-fluid rounded mainImage"
                    alt="hummer">
                <div>
                    <figcaption class="figure-caption text-start"> GM Hummer EV pictured</figcaption>
                </div>
            </figure>


        </div>
        <div class="row">
            <div class="col"> {% block content %}{% endblock %}</div>
        </div>
        <div class="row">
            <div class="col">
                <div class="allButtons">
                    <button type="button" class="btn btn-success carButton">Cars</button>
                    <button type="button" class="btn btn-primary saleButton">Sales</button>
                    <button type="button" class="btn btn-secondary employeeButton">Employees</button>
                    <button type="button" class="btn btn-danger customerButton">Customers</button>
                    <form>
                        <div class="input-group employeeFieldGroup">
                            <span class="input-group-text">Employee Id</span>
                            <textarea class="form-control employeeIdInput" aria-label="With textarea"></textarea>
                        </div>
                        <div> <button type="button" class="btn btn-info employeeReportButton">Employee Report</button></div>
                    </form>
                    <form>
                        <div class="input-group vinFieldGroup">
                            <span class="input-group-text">VIN Number</span>
                            <textarea class="form-control vinInput" aria-label="With textarea"></textarea>
                        </div>
                    </form>
                    <div><button type="button" class="btn btn-warning vehicleSearchButton">Vehicle Search</button></div>
                    <form>
                        <div class="input-group vinFieldGroup">
                            <span class="input-group-text">Employee Id</span>
                            <textarea class="form-control detailedSaleEmployeeId" aria-label="With textarea"></textarea>
                            <span class="input-group-text ">Invoice Number</span>
                            <textarea class="form-control vinInput detailedSaleOrderId" aria-label="With textarea"></textarea>
                        </div>
                    </form>
                    <div><button type="button" class="btn btn-dark detailedSaleButton">Specific Order Search</button></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col copyright">Copyright David Sosa 2022</div>
    </div>

    </div>
    <script src={% block logic %}{% endblock %}></script>
    <script>

        function carButton(event) {
            event.preventDefault();
            document.location.href= "/dashboard/cars"
        }
        function saleButton() {
            event.preventDefault();
            document.location.href= "/dashboard/sales"
        }
        function employeeButton() {
            event.preventDefault();
            document.location.href= "/dashboard/employees"
        }
        function customerButton() {
            event.preventDefault();
            document.location.href= "/dashboard/customers";
        }
        function vehicleSearchButton() {
            event.preventDefault();
            var vinInput = document.getElementsByClassName("vinInput")[0].value;
            document.location.href= `/carinfo/${vinInput}`;
        }

        function employeeReportButton() {
            event.preventDefault();
            var employeeId = document.getElementsByClassName("employeeIdInput")[0].value;
            var url =`/summary/employee/${employeeId}`
            document.location.href=url;
        }

        function detailedSaleButton() {
            event.preventDefault();
            var employeeId = document.getElementsByClassName("detailedSaleEmployeeId")[0].value;
            var orderId = document.getElementsByClassName("detailedSaleOrderId")[0].value;
            var url = `/saledetailed/employee/${employeeId}/order/${orderId}`;
            document.location.href=url;
        }

        document.getElementsByClassName("carButton")[0].addEventListener("click", carButton)
        document.getElementsByClassName("saleButton")[0].addEventListener("click", saleButton)
        document.getElementsByClassName("employeeButton")[0].addEventListener("click", employeeButton)
        document.getElementsByClassName("customerButton")[0].addEventListener("click", customerButton)
        document.getElementsByClassName("vehicleSearchButton")[0].addEventListener("click", vehicleSearchButton)
        document.getElementsByClassName("employeeReportButton")[0].addEventListener("click", employeeReportButton)
        document.getElementsByClassName("detailedSaleButton")[0].addEventListener("click", detailedSaleButton)
    </script>
</body>

</html>