{% extends "base.html" %}

{% block style %}{{obj.style}}{% endblock %}
{% block title %}{{obj.title}}{% endblock %}
{% block logic %}{{obj.logic}}{% endblock %}

{% block content %}
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                            {%for i in range(0, data.columns | length)%}
                            <th scope="col">{{data.columns[i]}}</th>
                            {%endfor%}
                        </tr>
                    </thead>
                    <tbody>
                        {%for rowIndex in range(0, data.rows| length)%}
                        <tr>
                            {%for columnIndex in range(0, data.columns | length)%}
                                <td>{{data.rows[rowIndex][data.columns[columnIndex]]}}</td>
                            {%endfor%}
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
{% endblock %}
